#form{
    margin: 150px auto;
    width: 500px;
    border: 3px solid #31058c;
    font-family: Tahoma;
}
.title{
    text-align: center;
    font-size: 36px;
}
.formLabel{
    margin: 20px auto;
    display: block;
    text-align: center;
    font-size: 24px;
}
.formInput{
    margin: 20px auto;
    display: block;
    font-size: 24px;
    border: 3px solid #31058c;
    padding: 10px 5px;
}
#submitButton{
    display: block;
    margin: 50px auto;
    padding: 10px 30px;
    background-color: blueviolet;
    color: #fff;
    border: 3px solid #31058c;
    border-radius: 20px;
    font-size: 24px;
}
.bookmark{
    border: 3px solid #000;
    width: 400px;
    margin: 20px auto;
    padding: 10px 5px;
    font-size: 24px;
}
.bookmarkName{
    font-size: 30px;
}
.bookmarkButton{
    display: block;
    width: 100%;
    margin: 5px auto;
    padding: 5px 15px;
    background-color: blueviolet;
    color: #fff;
    border: 3px solid #31058c;
    border-radius: 20px;
    font-size: 20px;
}
#submitButton:disabled{
    background-color: #ae7ce8;
}
#submitButton:disabled:hover{
    background-color: #ae7ce8;
}
#submitButton:hover{
    background-color: #721bbb;
}
