*{
    font-family: Calibri;
}
.title{
    display: block;
    text-align: center;
    margin: 150px auto 10px;
    font-size: 44px;
    color: #ffa6f1;
}
.goofyText{
    font-size: 8px;
    text-align: center;
    margin: 0 auto 150px;
}
.infoList{
    list-style: none;
    margin: 0 auto;
    padding: 50px 0;
    width: 700px;
    text-align: center;
    background-color: #ffa6f1;
}
.infoListStr{
    padding: 10px;
    margin: 10px 0;
    font-size: 25px;
    color: #fff;
    border-bottom: 4px solid #fff;
}
.infoListStr:first-child{
    border-top: 4px solid #fff;
    padding: 20px 0 10px;
}